.container {
  width: 100vw;
  height: 10vh;
  background-color: purple;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}

.button {
  padding: 0.5rem 0.8rem;
  padding-right: 10px;
}
